@font-face {
  font-family: "Proxima Nova Regular";
  src: url("../fonts/ProximaNova-Reg.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Bold";
  src: url("../fonts/ProximaNova-Bold.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Extrabold";
  src: url("../fonts/ProximaNova-Xbold.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Light";
  src: url("../fonts/ProximaNova-Light.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Black";
  src: url("../fonts/ProximaNova-Black.otf");
  font-weight: normal;
  font-style: normal;
}